/* Your styles here */
header{
  background-color: black;
  padding: 20px;
 }


 /* ////main/////// */
 main{
  padding: 200px;

  background-image: url(../img/banner.jpg);
  background-size: 100% 600px;
  background-repeat: no-repeat;
 }
 #secdiv{
  text-align: center;
 }
 
 #logo{
   width: 10vw;
 }

 #prmdiv{
  padding: 20px;
 }

 #secdiv{

  margin-top: -80px;
 }

 h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif ;
  color: #25a2c3 ;
  line-height: 1.5;
  font-weight: bold;
 }



 #b{
  background-color: #f04c2f ;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 60px;
 }
#pipo{
  margin-left: 600px;
  margin-top: -700px;
}
#secm{
 margin-top: 200px;
 }


 #notebook{
  border-radius: 350px;
  margin-top: 300px;
 }

 #secp{
  margin-top: -20px;
 }

 /* ///////aside///// */

 #sec2{
  background-color: #e22d0e;
  color: white;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 40px;
 }

 #sech{
  color: white;


 }

#secp{
font-size: small;
}

#sec3{


margin: 0 auto;
/* width: 85%; */


}

#desck{
  width: 20vw;
  border: #dee1e3;
}

/* /////section/// */


.piw{
  margin: 0 auto;
margin-left: 5px;
display: inline-block;
text-align: center;
vertical-align: top;
width: 25vw;
}



/* //////////footer///// */

footer{
  background-color: #25a2c3;
  text-align: center;
  color: white;
padding: 30px;
}

hr{
  width: 20%;
}
 #pfoot{
  font-size: 1rem;
 }
 a{
  color: white;
 }
